{% extends "core/base.html" %}

{% block title %}
Profile | ProjectHub
{% endblock %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <h2>My Profile</h2>

        <p>
            <strong>Username:</strong>
            {{ user.username }}
        </p>

        <p>
            <strong>Email:</strong>
            {{ user.email }}
        </p>

        <hr>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button class="btn btn-primary">
                Save Changes
            </button>

        </form>

    </div>

</div>

{% endblock %}